@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,700&family=Poppins:wght@100&family=Roboto+Condensed:wght@300&family=Roboto+Mono&family=Ubuntu:ital,wght@0,400;1,500&display=swap');

.Home {
  font-family: sans-serif;
  margin: 0px;
  --primary-color: #4d7c0f;
   width: 0 auto;
}

body {
  padding: 0px;
  margin: 0px;
}

.brand {
  font-family: sans-serif;
  font-size: 40px;
  padding: 1rem;
  padding-bottom: 0rem;
}

.container-box {
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
  margin-top: 4rem;
  height: 70vh;
  width: 600px;
  padding-top: 1rem;
  border: 3px solid #15803d;
  background-color: #f3f4f6;
  border-radius: 1rem;
}

/* Quiz */

.quiz{
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
  margin-top: 2rem;
  height: 122vh;
  width: 820px;
  padding-top: 1rem;
  border: 3px solid #15803d;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
}

.quiz-output{
  text-align: center;
  margin-top: 1.5rem;
}

.question-container{
  font-size: large;
}

h1{
  text-align: center;
  margin: 2rem 0rem;
}

hr{
  width: 90%;
}

p{
  margin: 1rem;
  margin-bottom: 1rem;
  font-size: 20px;
  text-align: center;
}

input{
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: 2px solid #4d7c0f;
  margin-bottom: 1rem;
  text-align: center;
  font-size: larger;
}

.link {
  text-decoration: none;
  padding: 0.9rem;
  margin-right: 0.5rem;
  font-family: Syncopate;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #4d7c0f;
  border-radius: 1.5rem;
}

.link-active {
  background-color: #065f46;
  font-size: 15px;
  padding: 0.9rem 1rem;
  border-radius: 105rem;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0rem;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

.navigation .link {
  color: white;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .brand {
  font-weight: bold;
}

.navigation .link-active {
  font-weight: bold;
}

button{
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
  font-size: x-large;
  background-color: #065f46;
  border: 0px solid;
  cursor: pointer;
  color: white;
}



.footer{
  background-color: #4d7c0f;
  margin-top: 4rem;
  padding: 3rem;
}